body {
  background: black;
}

.canvas1 {
  border: 3px solid white;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 700px;
  top: 50%;
  left: 50%;
}

.controls,
select,
option {
  font-size: 25px;
}
